
.adm--h1{font-size: 24px;font-weight: 500;text-align: center;padding: 40px 0;}

.adm--menuBar{width: 100%;border-bottom: 1px solid rgb(55,55,88);}
.adm--menuBar-wrap{display: flex;margin:48px auto 0;width: 100%;max-width: 480px;justify-content: center;}
.adm--menuItem{padding: 4px 24px;cursor: pointer;font-weight: 500;}
.adm--menuItem.on{background-color: rgb(55, 55, 88);color: #fff;}
.adm--menuItem-empty{font-size: 20px;text-align: center;margin-top: 40px;}

.adm--sideBar{position: fixed;top: 0;left: 0;height: 100%;}
.adm--sideBar-wrap{width: 120px;height: 100%;border: 1px solid #000;padding-top: 100px;}
.adm--sideBar-menu{display: flex;flex-direction: column;}
.adm--sideBar-menuItem{display: flex;border: 1px solid #000;cursor: pointer;align-items: center;line-height: 1;padding: 8px;color:  rgb(55, 55, 88);text-decoration: none;}
.adm--sideBar-menuItem p{margin: 0;font-size: 14px;margin-right: 10px;}
.adm--sideBar-menuItem span{font-size: 20px;border-radius: 50%;border: 1px solid #000;padding: 4px;}

.post--wrap{width: 100%;max-width: 1000px;margin:0 auto;}
.post--form{width: 100%;max-width: 480px;margin:0 auto;}
.post--form-title{font-size: 24px;text-align: center;margin: 1em 0;}
.post--form-label{font-size: 13px;color: #666;line-height: 1;margin-bottom: 0.66em;}
.post--submit-btn{cursor: pointer;width: 120px;margin:24px auto 0;text-align: center;height: 48px;display: flex;align-items: center;justify-content: center;border-radius: 6px;transition-duration: 0.1s;background-color: rgb(55,55,88);color: #fff;}
.post--submit-btn:focus,
.post--submit-btn:hover{background-color: rgb(25,105,255);color: #fff;}

.post--dataHead{display: flex;align-items: center;border-bottom: 1px solid rgb(55,55,88);padding: 10px 0;}

.post--dataList{margin-top: 40px;}
.post--dataTitle{font-size: 18px;text-align:center;margin-bottom: 20px;}
.post--dataItem:not(:last-child){border-bottom: 1px solid #ccc;}
.post--dataItem-contents{line-height: 1;padding: 14px 0;width: 100%;position: relative;}
.post--dataItem-text{display: flex;width: 100%;align-items: center;}
.post--dataItem-text01{font-size: 16px;font-weight: 500;width: 120px;text-align: center;}
.post--dataItem-text02{font-size: 14px;width: 120px;text-align-last: center;font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
.post--dataItem-text03{font-size: 13px;color: #666;}
.post--dataItem-line{display: block;width:1px;height: 12px;margin: 0 8px;background-color: #aaa;}
.post--dataItem-fix-btn{width: 24px;height: 24px;display: flex;justify-content: center;align-items: center;border-radius: 4px;border: 1px solid rgba(0,0,0,0.2);cursor: pointer;margin-right: 10px;position: absolute;right: 0;top: 50%;transform: translate(0,-50%);}
.post--dataItem-fix-btn .material-symbols-outlined{font-size: 15px;}
.post--dataItem-fix-btn span:first-child{display: block;}
.post--dataItem-fix-btn span:last-child{display: none;}

.post--dataItem-fixInput{border-top: 1px solid #ddd;}

.flex{display: flex;gap: 4px;}